{{#each details as |offense|}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color">
          {{offense.source_network}}
      </span>
  </span>

  {{#each offense.destination_networks as |destination|}}
    {{#if (not-eq destination offense.source_network)}}
      <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
          <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
          <span class="integration-text-color">
              {{destination}}
          </span>
      </span>
    {{/if}}
  {{/each}}

  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color">
          Sev {{offense.severity}}
      </span>
  </span>

  {{#each offense.categories as |category|}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
        <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
        <span class="integration-text-color">
            {{category}}
        </span>
    </span>
  {{/each}}
{{/each}}
